@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@media (max-width: 360px) {
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-family: "Times New Roman", Times, serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: white;
  color: black;
  padding: 10px 0;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.logo-title h1 {
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li :hover {
  color: orange;
}

nav ul li :before {
  content: "";
  position: absolute;
  inset: calc(100% - 3px) 0 0 0;
  background: #ce4f20;
  scale: 0 1;
  transition: 0.3s, translate 0s 0.3s;
}

nav ul:hover nav li:before {
  scale: 1;
}

nav ul li:hover:before {
  translate: 0;
  transition: 0.3s;
}

nav ul:hover nav li:has(~ nav li:hover):before {
  translate: 100% 0;
  transition: 0.2s 0.2s, scale 0s 0.4s;
}
nav ul:hover nav li:hover ~ nav li:before {
  translate: -100% 0;
  transition: 0.2s 0.2s, scale 0s 0.4s;
}

.banner {
  padding: 50px 0;
  background: rgb(9, 87, 121);
  background: radial-gradient(
    circle,
    rgba(9, 87, 121, 1) 13%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 190px;
}

.logo-top {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  color: #b8860b;
}

.banner h2 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.banner p {
  text-align: center;
  color: #fff;
}

.Reviews {
  text-align: center;
  color: black;
  margin-top: 35px;
  margin-bottom: 35px;
}

.reviews-section {
  font-size: 12px;
  padding: 40px;
  background-color: snow;
  margin-top: 0px;
}

.Reviews h1 {
  font-size: 15px;
  color: black;
  margin-bottom: 0px;
  text-decoration: none;
}

.product-details button:hover {
  background-color: #555;
}

footer {
  background: rgb(9, 87, 121);
  background: radial-gradient(
    circle,
    rgba(9, 87, 121, 1) 13%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 20px 0;
  text-align: center;
  margin-top: 45px;
}

h1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

h2 {
  text-align: center;
}

.logo-title {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.kontaktaoss-ul {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#nyhetsbrev {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 10px;
}

.linkimages {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: white;
}

.square {
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  margin: 0px 35px;
}
.square:hover {
  transform: translateY(-10px);
}
.square h3 {
  margin: 0;
  color: white;
}
.linkimages button {
  padding: 10px 20px;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: transparent;
}
.linkimages button:hover {
  background-color: lavenderblush;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.product-box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
}

.product-box img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.product-box h3 {
  color: #333;
  margin-bottom: 10px;
}

.product-box p {
  color: #666;
  margin-bottom: 15px;
}

.product-box button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-box button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
}
thead th,
tbody td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
thead th {
  background-color: #f2f2f2;
}
